Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
django-filter==25.1
drf-spectacular==0.28.0
dj-database-url==3.0.1
psycopg[binary]==3.2.10
PyJWT[crypto]==2.10.1
celery==5.5.3
redis==6.4.0
gunicorn==23.0.0
python-dotenv==1.1.1
pypdf>=5.0,<7.0
pytest==8.4.1
pytest-django==4.11.1
factory-boy==3.3.3
